@model LogoSettings
@{
}
<div class="mb-3">
    <label for="AdminFile" class="form-label" asp-for="AdminFile"></label>
    <input class="form-control" type="file" id="AdminFile" name="LogoFile">
    <span asp-validation-for="AdminLogo" class="text-danger"></span>
</div>